.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1300px) {
    .item {
        width: calc((100% - 9rem) / 4);
    }
}

@media (max-width: 970px) {
    .item {
        width: calc((100% - 6rem) / 3);
    }
}

@media (max-width: 720px) {
    .item {
        width: calc((100% - 3rem) / 2);
    }
}

@media (max-width: 490px) {
    .item {
        width: 80%;
        margin: 0 auto;
    }
}